* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100vh;
}

body {
  background-color: #00566C;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.jv-page {
  min-height: 100vh;
  width: 448px;
  background-image: url('./images/page-bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 992px) {
  .jv-page {
    width: 100%;
  }
}

.flex-1 {
  flex: 1 !important;
}